.body{
    background-color: rgba(245, 224, 184, 0.959);
}
.container-1 {
    width: 250px;
    height: 350px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 15px;
    background: url("");
    background-color: rgb(255, 255, 255);
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}
.overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, .9);
    color: #f3c247;
    opacity: 0;
    transition: all 0.5s;
    font-family: 'Playfair Display', serif;
    position: absolute;
}
.items {
    padding-left: 10px;
    letter-spacing: 3px;
}
.head {
    font-size: 22px;
    line-height:25px;
    transform: translateY(40px);
    transition: all 0.7s;
}
.head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #fef5df;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 0.5s;
}
.price {
    
    font-size: 16px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s;
    
}
.price .old {
    text-decoration: none;
    color:#f3c247 ;;
}
.cart {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 0.7s;
}
.cart i {
    font-size: 16px;
}
.cart span {
    margin-left: 10px;
}
.container-1:hover .overlay {
    opacity: 1;
}

.container-1:hover .overlay .head {
    transform: translateY(0px);
}
.container:hover .overlay hr {
    width: 75px;
    transition-delay: 0.4s;
}
.container-1:hover .overlay .price {
    transform: translateY(0px);
    transition-delay: 0.3s;
    opacity: 1;
}
.container-1:hover .overlay .cart {
    transform: translateY(0px);
    transition-delay: 0.6s;
    opacity: 1;
}
.list{
 display: flex;
 flex-wrap: wrap;
 margin: 4px;
width: 1400px;

    }
.section2{

   width: 300px;
   margin-top: 28px;
 
}
.titre{
    font-size: 29px;
    color: orange;
    text-align: center;
    font-style: oblique ;
    font-family: monospace;
}
.section1{
  
    display: flex;

}

.form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  
 
  
  .form-control::placeholder {
    font-size: 0.95rem;
    color: rgb(29, 16, 206);
    font-style: italic;
  }
  .btn.btn-outline.mr-2.custom-filter{
      margin-right: 50px;
  }
  .catego{
      margin-right: 5px;
  }
  

  .card-image{
      width: 100%;
      position: absolute;
  }